.center-card {
  max-width: 600px;
  max-height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.comic-align{
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

.title-style{
  margin: auto;
  font-size: 20px;
}

.button-style{
  font-size: 20px;
}

.toolbar-style{
  margin: auto;
  width: 100%;
  padding: 5px;
}
